In [38]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import  classification_report,f1_score,accuracy_score,confusion_matrix

In [2]:
data = pd.read_csv("/content/Titanic.csv")
data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [3]:
data.drop(['PassengerId','Name'],axis=1,inplace=True)

In [4]:
data.head()

   Survived  Pclass     Sex   Age  ...            Ticket     Fare Cabin  Embarked
0         0       3    male  22.0  ...         A/5 21171   7.2500   NaN         S
1         1       1  female  38.0  ...          PC 17599  71.2833   C85         C
2         1       3  female  26.0  ...  STON/O2. 3101282   7.9250   NaN         S
3         1       1  female  35.0  ...            113803  53.1000  C123         S
4         0       3    male  35.0  ...            373450   8.0500   NaN         S

[5 rows x 10 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 69.7+ KB

In [6]:
data.isnull().sum().sum()

866

In [7]:
data.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [8]:
data.shape

(891, 10)

In [9]:
data.drop('Cabin',axis=1,inplace=True)

In [10]:
data['Embarked']=data['Embarked'].fillna(data['Embarked'].mode()[0])

In [11]:
data.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Embarked      0
dtype: int64

In [12]:
data.shape

(891, 9)

In [13]:
lbl = LabelEncoder()

In [14]:
data_new = data.apply(lbl.fit_transform)

In [15]:
data_new.shape

(891, 9)

In [16]:
columns = data.columns

In [17]:
imputer = KNNImputer(n_neighbors=7)

In [18]:
filled_data = imputer.fit_transform(data_new)

In [19]:
data_final = pd.DataFrame(data=filled_data,columns=columns)

In [20]:
data_final

     Survived  Pclass  Sex   Age  SibSp  Parch  Ticket   Fare  Embarked
0         0.0     2.0  1.0  28.0    1.0    0.0   523.0   18.0       2.0
1         1.0     0.0  0.0  51.0    1.0    0.0   596.0  207.0       0.0
2         1.0     2.0  0.0  34.0    0.0    0.0   669.0   41.0       2.0
3         1.0     0.0  0.0  47.0    1.0    0.0    49.0  189.0       2.0
4         0.0     2.0  1.0  47.0    0.0    0.0   472.0   43.0       2.0
..        ...     ...  ...   ...    ...    ...     ...    ...       ...
886       0.0     1.0  1.0  35.0    0.0    0.0   101.0   85.0       2.0
887       1.0     0.0  0.0  24.0    0.0    0.0    14.0  153.0       2.0
888       0.0     2.0  0.0  90.0    1.0    2.0   675.0  131.0       2.0
889       1.0     0.0  1.0  34.0    0.0    0.0     8.0  153.0       0.0
890       0.0     2.0  1.0  42.0    0.0    0.0   466.0   30.0       1.0

[891 rows x 9 columns]

In [21]:
data_final.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Embarked    0
dtype: int64

In [30]:
x = data_final.drop('Survived',axis=1)

In [31]:
x

     Pclass  Sex   Age  SibSp  Parch  Ticket   Fare  Embarked
0       2.0  1.0  28.0    1.0    0.0   523.0   18.0       2.0
1       0.0  0.0  51.0    1.0    0.0   596.0  207.0       0.0
2       2.0  0.0  34.0    0.0    0.0   669.0   41.0       2.0
3       0.0  0.0  47.0    1.0    0.0    49.0  189.0       2.0
4       2.0  1.0  47.0    0.0    0.0   472.0   43.0       2.0
..      ...  ...   ...    ...    ...     ...    ...       ...
886     1.0  1.0  35.0    0.0    0.0   101.0   85.0       2.0
887     0.0  0.0  24.0    0.0    0.0    14.0  153.0       2.0
888     2.0  0.0  90.0    1.0    2.0   675.0  131.0       2.0
889     0.0  1.0  34.0    0.0    0.0     8.0  153.0       0.0
890     2.0  1.0  42.0    0.0    0.0   466.0   30.0       1.0

[891 rows x 8 columns]

In [32]:
y = data['Survived']

In [28]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [33]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.30,random_state =42)

In [34]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((623, 8), (268, 8), (623,), (268,))

In [35]:
KnN = KNeighborsClassifier()

In [36]:
KnN.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [37]:
y_pred = KnN.predict(x_test)

In [39]:
accuracy_score(y_test,y_pred)

0.664179104477612

In [40]:
confusion_matrix(y_test,y_pred)

array([[124,  33],
       [ 57,  54]])

In [41]:
classification_report(y_test,y_pred)

'              precision    recall  f1-score   support\n\n           0       0.69      0.79      0.73       157\n           1       0.62      0.49      0.55       111\n\n    accuracy                           0.66       268\n   macro avg       0.65      0.64      0.64       268\nweighted avg       0.66      0.66      0.66       268\n'